:root{
    --primary-color         : #FF6C00;  /*Основной цвет сайта, используется для кнопок и рамочек */
    --secondary-color       : #191C26;

    --text-primary          : #303030;
    --text-secondary        : #9DA4BD;
    --text-primary-lighten  :    #555;
}

body{
    font-family: 'Open Sans', sans-serif;
} 

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.suptitle-primary, .suptitle-secondary{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: var(--text-primary);
}

.suptitle-secondary{
    color: #9DA4BD99;
}

h2.section-title{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 42px;
    color: var(--text-primary);
}


h2.section-title.lighten{
    color: #fff;
}

.hero-description{
    color: var(--text-secondary);
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

/* Navbar styles here */
nav.navbar{
    outline: 2px solid skyblue;
}
nav.navbar .btn-box{
    display: inline-block;
}

.nav-links{
    background-color: aqua;
    display: inline-block;
}
.nav-links li{
    display: inline-block;
}
a.nav-link{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

a.nav-link:hover, 
.social-link:hover {
    color: var(--primary-color);
}

p.section-description{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-primary-lighten);
}

.social-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: var(--text-primary);
}

.primary-btn{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 12px 20px;
    color: #fff;
}

.primary-btn.darken{
    color: var(--text-primary);
}



/* Price styles */

.price-list{
    display: inline-block;
}

.price-item p, .price-item span{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-secondary);
}


/* Why us styles here */

.number-box{
    background: #F7F7F7;
    width: 170px;
    height: 132px;
    display: inline-block;
}

.number-box p, .number-box span{
    display: block;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: var(--text-primary);
}

.number-box span{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

/* Masters styles here */

.master-card p{
    font-size: 18px;
    line-height: 25px;
    color: var(--text-primary);
}

.master-card span{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF6C00;
}

/* Footer styles here */

.footer-contacts{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-secondary);
}