:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;
  --text-primary: #303030;
  --text-secondary: #9da4bd;
}
body {
  font-family: "Open sans", sans-serif;
}
h2.section-title {
  font-family: "raleway";
  font-weight: 700;
  font-size: 42px;
  color: var(--text-primary);
}
h2.section-title.lighten {
  color: #fff;
}
